.multiselect {
    position: relative;
    display: inline-block;
}

.select-box {
    display: block;
    padding: 10px;
    border: 1px solid #ccc;
    cursor: pointer;
    width: 465px;
}

.options {
    display: none;
    position: absolute;
    background-color: #fff;
    border: 1px solid #ccc;
    max-height: 150px;
    overflow-y:auto;
}

    .options label {
        display: block;
        padding: 5px;
    }

        .options label:hover {
            background-color: #f0f0f0;
        }

    .options input[type="checkbox"] {
        margin-right: 5px;
    }
